body.sidebar-open {
	#split-view, .split-view {
		inset-inline-start: var(--sidebar-width);
	}
}

#sidebarContainer {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: calc($height-toolbar / 2);
	height: 85%;
	width: var(--sidebar-width);
	z-index: $z-index-sidebar;
	left: calc(-1 * var(--sidebar-width));
	border-right: none;
	background-color: white;
	border-radius: 0 8px 8px 0;
	box-shadow: none;
	overflow: hidden;

	body.sidebar-open & {
		visibility: visible;
		left: 16px;
	}

	.sidebar-toolbar {
		display: flex;
		justify-content: space-between;
		height: 48px;
		align-items: center;
		padding: 0 16px;
		border-bottom: 1px solid #f0f0f0;

		.start {
			display: flex;
			gap: 8px;
		}

		.end {
			margin-left: 8px;
		}

		@include macOS-inactive-opacity;
	}
}

#sidebarContent {
	flex: 1 1 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: white;
	padding: 12px;

	.viewWrapper.hidden {
		display: none;
	}
}

#sidebarResizer {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 6px;
	z-index: $z-index-sidebar-resizer;
	cursor: col-resize;
	right: -4px;
}
