#split-view, .split-view {
	position: absolute;
	inset-inline-start: 0;
	inset-inline-end: 0;
	top: $height-toolbar;
	bottom: var(--bottom-placeholder-height);
	display: flex;
	padding: 16px 16px 16px 0;

	.primary-view, .secondary-view {
		display: flex;
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
		background-color: white;

		// Don't affect iframes inside popups
		& > iframe {
			display: flex;
			width: 100%;
			border: 0;
			visibility: hidden; // Prevent iframe flashing while loading
			border-radius: 8px;

			&.loaded {
				visibility: visible;
			}
		}
	}

	.primary-view {
		flex-grow: 1;
	}

	.secondary-view {
		display: none;
	}
}

body.sidebar-open {
	#split-view, .split-view {
		inset-inline-start: calc(var(--sidebar-width) + 16px);
	}
}

body.enable-vertical-split-view {
	.primary-view {
		width: 0;
	}

	.secondary-view {
		display: flex !important;
		width: var(--split-view-size);
	}
}

body.enable-horizontal-split-view {
	.primary-view {
		height: 0;
	}

	#split-view, .split-view {
		flex-direction: column;

		.secondary-view {
			display: flex !important;
			height: var(--split-view-size);
		}
	}
}
